<!DOCTYPE html>
<html lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta content="text/html">
    <title>Joke List</title>
</head>
<body>
    <h1>Joke List</h1>
    <table>
        <tr>
            <th>#</th>
            <th>Category</th>
            <th>Joke</th>
            <th>Likes</th>
            <th>Dislikes</th>
            <th>Net Likes</th>
            <th>Like/Dislike</th>
        </tr>
        <tr th:each="joke : ${jokes}">
            <td th:text="${jokeStat.index + startingIndex}">Index</td>
            <td th:text="${categories.get(joke.category)}">Category</td>
            <td th:text="${joke.content}">Joke Content</td>
            <td th:text="${joke.likes}">Likes</td>
            <td th:text="${joke.dislikes}">Dislikes</td>
            <td th:text="${joke.likes - joke.dislikes}">Net Likes</td>
            <td>
                <button><a th:href="@{/like(id=${joke.id},page=${param.page?:1}, length=${param.length?:10})}">Like</a></button>
                <button><a th:href="@{/dislike(id=${joke.id},page=${param.page?:1}, length=${param.length?:10})}">Dislike</a></button>
            </td>
        </tr>
    </table>
    <p>
        <button><a th:href="${(#mvc.url('JMC#newJoke')).build()}">Add Joke</a></button>
        <span sec:authorize="isAuthenticated()"><button><a th:href="@{/logout}">Log out</a></button></span>
    </p>
    <span th:each="i : ${#numbers.sequence(1, pageCount)}">
        <span th:if="${i == (param.page?:1)}" th:text="${i}"> Current</span>
        <span th:unless="${i == (param.page?:1)}"><a th:href="@{/(page=${i}, length=${param.length?:10})}" th:text="${i}">Page#</a></span>
    </span>
</body>
</html>